{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block body %}
<h2 class="page-header my-3">About</h2> 
    <p class="font-monospace container my-3">The TODO App is a web application developed using HTML, CSS, and Flask framework, with a focus on learning and understanding web development concepts. It incorporates essential features such as user authentication, login/logout functionality, and the ability to update and delete todos. The application boasts a simple and intuitive user interface, ensuring ease of use for the end-users.</p></b>
     <p class="font-monospace container my-3">The app serves as a personal task manager, allowing users to create and manage their to-do lists effectively. Users can sign up for an account, which provides them with the ability to log in and access their personalized todo dashboard. The user authentication feature ensures that each user's data remains secure and private, with only authorized individuals being able to access and modify their todos.</p>
     <p class="font-monospace container my-3">The tech stack used for developing the TODO App includes HTML, which is used for creating the basic structure and layout of the web pages. CSS is employed for styling and enhancing the visual appeal of the application, providing a clean and modern user interface. Flask, a lightweight Python web framework, is utilized for building the backend of the application. Flask facilitates the routing of requests, handling form submissions, and interacting with the database.</p>
{% endblock body %}