<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Your App</title>
        <meta charset="UTF-8">
        <style>
            /* Basic styling for the navbar */
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    
    <h1>Welcome to Your Todo App </h1>
    <p>Thank you for creating an account with us! We are excited to have you.</p>
    <p>Manage Your Tasks Efficiently</p>
    <h4><b><p>"Streamline your tasks, maximize your efficiency!"</p></b></h4>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
        <p>Best regards,<br>Priyanshu Panda</p>
</div>
</body>
