<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your task is updated</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <h1>Hi,{{ name }} we have updated your tasks </h1>
    <p>Manage Your Tasks Efficiently
    <h4><b>"Streamline your tasks, maximize your efficiency!"</p></b></h4>
    <b>Your Tasks Updated as follows:</b>
    <br>
    <table border="1" cellpadding="8" cellspacing="0" >
        <thead>
            <th>Title</th>
            <th>Description</th>
        </thead>
        <tr>
            <td>{{ title }}</td>
            <td>{{ des }}</td>
        </tr>
    </table>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
        <p>Best regards,<br>Priyanshu Panda</p>
</div>
</body>